.contact{
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    padding: 80px;

    h1{
        text-align: center;
        // width: 315px;
        height: 77px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 77px;
        letter-spacing: -0.04em;
        color: #000000;
    }

    .form{
        display: flex;
        flex-direction: row;

        .left-side{
            width: 400px;
            height: 432px;
            background: linear-gradient(180deg, rgba(231, 249, 253, 0) 0%, #E7F9FD 100%);
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            right: 40px;
            img{
                position: absolute;
                top: -40px;
            }
        }

        .right-side{
            display: flex;
        }
    }
}