@import './other_styles/header';
@import './other_styles/footer';
@import './other_styles/info';
@import './other_styles/prof-chef';
@import './other_styles/contact';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    // border: 1px solid grey;
    display: flex;
    flex-direction: column;
}